



       
          <table style="width:70%">
       
        <tr><th>   <center> <img ng-src= <%= products.img %> height="200" width="500"/></center></th></tr>
        <th>  <center><h1><%= products.description %></h1></center></th>
        <center><tr align="center">  <th> Quantity : <%=products.Quantity%><br> Price: <%=products.price%> <br> Category:<%=products.category%> </th></tr></center>
         </table><br></th>
    
      